<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mnnit.culrav.home">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <permission
        android:name="com.mmnit.culrav.home.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mmnit.culrav.home.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mnnit.culrav.events.EventsActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="raj1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mnnit.culrav.events.EventsDesc"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_events_desc"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mnnit.culrav.contacts.ContactActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_contact"
            android:screenOrientation="portrait" />


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyANBlxRVCsyz4Np6IpZNrEyjSKa0dpgHUU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.mnnit.culrav.about.AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mnnit.culrav.main.HighActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_high"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mnnit.culrav.main.ImpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_imp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mnnit.culrav.main.WebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_web"
            android:screenOrientation="portrait" />
    </application>

</manifest>
